@font-face {
  font-family: 'Thin Pencil Handwriting';
  src: url('../fonts/ThinPencilHandwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  background: url('../images/paper-texture.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ThinPencilHandwriting', sans-serif;
}

main {
  display: flex;
  gap: 4rem;
}

.link {
  text-decoration: none;
  font-size: 2rem;
  color: #222;
}

.cv {
  font-family: 'ThinPencilHandwriting', sans-serif;
}

.projects {
  font-family: 'ThinPencilHandwriting', sans-serif;
}